<!DOCTYPE html>
<html lang="pl">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">



<title>	Linki </title>


</head>
<body class="bg-dark text-white" style="margin:15px ">

<nav class="navbar navbar-expand-sm navbar-dark border rounded border-white" style="background-color: rgb(128,128,128)">
  <a class="navbar-brand" href="#">Nawigator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="Index">Ekspy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./KalkulatorHP">Kalkulator Hp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./budowa">Budowa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./memy">Memy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Przydatne Linki</a>
      </li>


    </ul>
  </div>
</nav>

<br>
<h1>Przydatne Linki:</h1>

<a href="https://docs.google.com/spreadsheets/d/1aPpkBb17xBETxpzqXj9bw_Z6YXShcmFclG1AFpkqtlc/edit#gid=0" target="_blank">Excel z laczeniem przedmiotow</a><br><br>

<a href="http://laczenia.com/" target="_blank">Spawarka</a><br><br>

<a href="https://r21.bloodwars.interia.pl/test_items.php?class=11&baseType=45&prefix=14&sufix=0&legendary=0&playerLvl=63" target="_blank">Rozpiska Itemow</a><br><br>

<a href="https://docs.google.com/document/d/1jZtSvNYHQoS9i6bEJV1Wi1g6hnC2A-GhbKXx3ZLPH6M/edit" target="_blank">Podroze</a><br><br>

<a href="https://docs.google.com/spreadsheets/d/10hylzzMRHe8f-nkr1UMLge0sx6NEMvBkZhnveXKPEpg/edit#gid=1637395552" target="_blank">Progi LPC</a><br><br>

<a href="http://zadaniabw.blogspot.com/" target="_blank">Zadania</a><br><br>






</body>

</html>